
script(src=assetsPath+"libs/js/tailwind.js")
script(src=assetsPath+"libs/js/mitt.js")
script(src=assetsPath+"libs/js/howler.js")
script(src=assetsPath+"libs/js/vue.js")
script(src=assetsPath+"libs/js/dom-to-image.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.2.1/iconify.min.js")

<!-- Main -->
script(src=assetsPath+"assets.js")
<!-- Components -->
script(src=assetsPath+"components/OdaTitulo.js")
script(src=assetsPath+"components/OdaInstruccion.js")
script(src=assetsPath+"components/OdaIcon.js")
script(src=assetsPath+"components/OdaFinalizar.js")

script(src=assetsPath+"components/Utilities.js")

script(src=assetsPath+"components/LayoutGrid.js")
script(src=assetsPath+"components/LayoutBox.js")

script(src=assetsPath+"components/ModuleCheck.js")

script.
    app.mount('#app')